<section id="about-page" class="page about-page">
    <h1 id="about-title" class="page-title about-title">About</h1>
    <p id="about-summary" class="page-description about-description">This is the WIP voting site for TeenGovernment.</p>
    <p id="about-purpose" class="page-description about-description">You can view elections, candidate information, and you can vote!</p>
    <p id="about-source" class="page-description about-source">The source code and issue tracker are available on <a id="about-github-link" class="external-link source-link" href="https://github.com/eliaswen/tg-voting">GitHub</a>.</p>
    <p id="about-owner" class="page-description about-owner">The site is owned by <a id="about-owner-link" class="internal-link owner-link" href="/contact">Ewi</a>. Find me on <a id="about-reddit-link" class="external-link reddit-link" href="https://www.reddit.com/user/IWillDetoxify">Reddit</a> or on Discord with username ewenlau2.</p>
    <p id="about-version" class="page-description about-version">The current version of the site is {{ version }}.</p>
</section>
