<section id="issues-page" class="page">
    <h1 id="issues-title" class="page-title issues-title">Issue Tracker</h1>
    <p id="issues-summary" class="page-description issues-description">The issue tracker is available on my Gitea instance. Please report any issues you find <a id="issues-link" class="external-link issues-link" href="https://git.ewenlau.net/ewenlau/tg-voting-issues/issues">over there</a>.</p>
    <p id="issues-account" class="page-description issues-description">You can login with your existing teengov.org account.</p>
</section>
</section>