<section id="themes-page" class="page themes-page">
    <h1 id="themes-title" class="page-title themes-title">Theme list</h1>
    <p id="themes-description" class="page-description themes-description">Here are the currently available themes:</p>
    <ul id="themes-list" class="item-list themes-list">
        <li id="theme-basic" class="item theme-item theme-basic">Basic: a simple theme with no CSS, intended for low-end or old devices and software</li>
        <li id="theme-white-simple" class="item theme-item theme-white-simple">White: simple white theme</li>
        <li id="theme-black-simple" class="item theme-item theme-black-simple">Black: simple black theme</li>
        <li id="theme-oled-black-simple" class="item theme-item theme-oled-black-simple">OLED: theme for OLED displays, with proper black backgrounds</li>
        <li id="theme-zeedith" class="item theme-item">Zeedith's theme: a copy of of the basic theme of the <a href="https://tg.zerr.cc">ARPD website</a>.</li>
    </ul>
</section>
